__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Docker
collector/docker/export/
collector/docker/push_to_acr.bat
collector/docker/push_to_acr.sh
collector/docker/push_to_ghcr.sh
collector/docker/push_to_ghcr.bat
collector/docker/push_to_dockerhub.sh
collector/docker/push_to_dockerhub.bat
collector/docker/pull_and_deploy.sh
